ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: none;
    background-color: var(--ion-background-color); /* Cambia según el tema */
    }
  
  ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: none;
  background-color: var(--ion-background-color); /* Cambia según el tema */
  --color: #ffffff;
  }