<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Temas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Temas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Aquí se incluye el botón para cambiar el tema -->
  <div class="ion-padding">
    <app-theme-toggle></app-theme-toggle> <!-- Botón de cambio de tema -->
  </div>

</ion-content>

<app-tabs style="z-index: 1"></app-tabs>