<div class="app-container">
  <div class="form-container">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <ion-buttons class="boton_1" slot="start">
        <ion-back-button defaultHref="/inicio/home"></ion-back-button>
      </ion-buttons>
      <h1 class="title_2" style="text-align: center">Perfil</h1>
      <div></div>
    </div>

    <ion-item lines="none" class="ion-margin-top custom-item">
      <ion-input
        label="Nombre: "
        #nombreInput
        type="text"
        [readonly]="!isEditable"
        [(ngModel)]="nombre"
      ></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="ion-margin-top custom-item">
      <ion-input 
        label="Contraseña: "
        #contrasenaInput
        [type]="showPassword ? 'text' : 'password'"
        [readonly]="!isEditable"
        [(ngModel)]="password"
      ></ion-input>
      <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
        <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="none" class="ion-margin-top custom-item">
      <ion-label position="floating">Teléfono Tutor:</ion-label>
      <ion-input
        #telefonoInput
        type="tel"
        [readonly]="!isEditable"
        [(ngModel)]="telefono"
      ></ion-input>
    </ion-item>
    
    <ion-item lines="none" class="ion-margin-top custom-item">
      <ion-input
        label="Correo Electrónico: "
        type="email"
        [readonly]="!isEditable"
        [(ngModel)]="correo"
      ></ion-input>
    </ion-item>

    <ion-footer class="ion-no-border safe-p-bottom">
      <ion-menu-toggle auto-hide="false">
        <ion-item (click)="signOut()" lines="none">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-footer>
  </div>
</div>
<app-tabs style="z-index: 1"></app-tabs>

