ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: none;
  background-color: var(--ion-background-color); /* Cambia según el tema */
}

body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: -10em;
  bottom: 0;
  width: 100%;
}

.button-grid {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra verticalmente los botones */
  margin-top: 20vh;
}

ion-button {
  width: 200px; /* Define un ancho fijo */
  height: 200px; /* Define una altura fija */
  margin-bottom: 10px; /*Espacio entre los botones*/
  border-radius: 0 !important; /* Elimina el borde redondeado de Ionic */
  --background: var(--ion-button-background); /* Variable que cambia según el tema */
  color: var(--ion-button-text-color); /* Color del texto según el tema */
}

/* Estilo específico para el tema claro */
body.light-theme {
  --ion-background-color: #CDE1FF; /* Fondo en tema claro */
  --ion-button-background: #007bff; /* Color del botón en tema claro */
  --ion-button-text-color: #ffffff; /* Texto del botón en tema claro */
}

/* Estilo específico para el tema oscuro */
body.dark-theme {
  --ion-background-color: #1e1e1e; /* Fondo en tema oscuro */
  --ion-button-background: #ea3a3a; /* Color del botón en tema oscuro */
  --ion-button-text-color: #ffffff; /* Texto del botón en tema oscuro */
}
