<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-container">
    <div class="header-image-container">
      <img src="assets/logo.png" class="header-image" alt="Header image">
    </div>

    <div class="form-content">
      <h1 class="titulo">Únete a TEAyudo</h1>
      <p class="subtittle">¿Quieres crearte una cuenta?</p>

      <form [formGroup]="registerForm" (ngSubmit)="validarFormulario()">
        <!-- Nombre -->
        <ion-item [class.invalid]="registerForm.controls['nombre'].invalid && registerForm.controls['nombre'].touched">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.controls['nombre'].touched && registerForm.controls['nombre'].errors?.['required']" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>Este campo es obligatorio</ion-text>
        </div>

        <!-- Correo Electrónico -->
        <ion-item [class.invalid]="registerForm.controls['correo'].invalid && registerForm.controls['correo'].touched">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.controls['correo'].touched && registerForm.controls['correo'].errors?.['required']" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>Este campo es obligatorio</ion-text>
        </div>

        <!-- Contraseña -->
        <ion-item [class.invalid]="registerForm.controls['contrasena'].invalid && registerForm.controls['contrasena'].touched">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [type]="mostrarContrasena ? 'text' : 'password'" formControlName="contrasena"></ion-input>
          <ion-button fill="clear" (click)="toggleMostrarContrasena()" class="mostrar-contrasena-btn">
            {{ mostrarContrasena ? 'Ocultar' : 'Mostrar' }}
          </ion-button>
        </ion-item>
        <div *ngIf="registerForm.controls['contrasena'].touched && registerForm.controls['contrasena'].errors?.['required']" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>Este campo es obligatorio</ion-text>
        </div>
        <div *ngIf="registerForm.controls['contrasena'].touched && registerForm.controls['contrasena'].errors?.['minlength']" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>La contraseña debe tener más de 6 caracteres</ion-text>
        </div>

        <!-- Confirmar Contraseña -->
        <ion-item [class.invalid]="registerForm.controls['confirmar_contrasena'].invalid && registerForm.controls['confirmar_contrasena'].touched">
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input [type]="mostrarConfirmarContrasena ? 'text' : 'password'" formControlName="confirmar_contrasena"></ion-input>
          <ion-button fill="clear" (click)="toggleMostrarConfirmarContrasena()" class="mostrar-contrasena-btn">
            {{ mostrarConfirmarContrasena ? 'Ocultar' : 'Mostrar' }}
          </ion-button>
        </ion-item>
        <div *ngIf="registerForm.controls['confirmar_contrasena'].touched && registerForm.controls['confirmar_contrasena'].errors?.['required']" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>Este campo es obligatorio</ion-text>
        </div>
        <div *ngIf="registerForm.controls['confirmar_contrasena'].touched && registerForm.value.contrasena !== registerForm.value.confirmar_contrasena" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>Las contraseñas deben ser iguales</ion-text>
        </div>

        <!-- Teléfono Tutor -->
        <ion-item [class.invalid]="registerForm.controls['telefono'].invalid && registerForm.controls['telefono'].touched">
          <ion-label position="floating">Teléfono Tutor</ion-label>
          <ion-input type="tel" formControlName="telefono"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.controls['telefono'].touched && registerForm.controls['telefono'].errors?.['required']" class="error-message">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-text>Este campo es obligatorio</ion-text>
        </div>

        <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
