/* Estructura del formulario */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.header-image {
  max-width: 100%;
  height: auto;
}

.form-content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtittle {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

/* Estilo de los items */
ion-item {
  margin-bottom: 20px; /* Mayor separación entre los campos */
  background-color: transparent; /* Fondo transparente en ion-item */
  --highlight-background: transparent; /* Elimina el fondo azul cuando está enfocado */
  --box-shadow: none; /* Elimina cualquier sombra */
}

ion-label {
  margin-bottom: 8px;
}

ion-content{
  display: flex;
  --background: none;
  background: #CDE1FF;
}

ion-input { 
  --box-shadow: none; /* Elimina sombra */
  --highlight-background: ; /* Elimina fondo azul */
  --color: #000; /* Color del texto */
  padding-right: 45px; /* Deja espacio para el botón dentro del input */
}

/* Estilo para el botón de mostrar/ocultar contraseña */
.mostrar-contrasena-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-size: 14px;
}

/* Mensajes de error */
.error-message {
  color: red;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.error-message ion-icon {
  margin-right: 5px;
}

/* Botones y validación */
.invalid ion-input {
  border-color: red;
}

ion-button {
  margin-top: 20px;
}

ion-button[disabled] {
  background-color: #CDE1FF;
}

/* Responsividad */
@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }

  .form-content {
    width: 100%;
  }

  .titulo {
    font-size: 20px;
  }

  .mostrar-contrasena-btn {
    top: unset;
    bottom: 5px;
  }
}
