// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-background-color: #ffffff; /* Fondo claro */
}

.light-theme {
  --ion-background-color: #ffffff;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-tab-bar-background-color: #f4f4f4;
}

.dark-theme {
  --ion-background-color: #4679de;
  --ion-color-primary: #f4f4f4;
  --ion-color-secondary: #3dc2ff;
  --ion-tab-bar-background-color: #111111;
}
html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
