<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Selector de mes -->
    <ion-row>
      <ion-col size="6">
        <ion-select [(ngModel)]="currentMonth" (ionChange)="updateCalendar()" interface="popover">
          <ion-select-option *ngFor="let month of monthNames; let i = index" [value]="i">{{ month }}</ion-select-option>
        </ion-select>
      </ion-col>

      <!-- Selector de año -->
      <ion-col size="6">
        <ion-select [(ngModel)]="currentYear" (ionChange)="updateCalendar()" interface="popover">
          <ion-select-option *ngFor="let year of yearRange" [value]="year">{{ year }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- Mostrar el mes y el año seleccionados -->
    <ion-row>
      <ion-col size="12">
        <ion-title>{{ monthNames[currentMonth] }} {{ currentYear }}</ion-title>
      </ion-col>
    </ion-row>


    <!-- Mostrar los días de la semana -->
    <ion-row>
      <ion-col *ngFor="let day of weekDays" size="1.7">
        <div class="day-header">
          <span>{{ day }}</span>
        </div>
      </ion-col>
    </ion-row>

    <!-- Mostrar los días del mes organizados por semanas -->
    <ion-row *ngFor="let week of calendarDays">
      <ion-col *ngFor="let day of week" size="1.7">
        <div *ngIf="day" class="day-box">
          <span>{{ day }}</span>
          <img *ngIf="getDominantEmotionIcon(day)" [src]="getDominantEmotionIcon(day)" alt="Dominant Emotion" class="imagen">

        </div>
      </ion-col>
    </ion-row>

    <!-- Mostrar el consejo basado en la emoción más frecuente -->
    <ion-card *ngIf="advice" class="advice-card">
      <ion-card-header>
        <ion-card-title>Consejo para ti</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ advice }}</p>
      </ion-card-content>
    </ion-card>


    <!-- Sección del gráfico -->
    <ion-row>
      <ion-col size="12">
        <h3>Estadísticas de Emociones</h3>
        <div class="chart-container">
          <canvas #emotionChart></canvas>
        </div>
        <div *ngIf="chartData.labels.length === 0" class="no-data">
          <p>No hay suficientes datos para mostrar el gráfico.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-tabs style="z-index: 1"></app-tabs>