<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Emociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrar-grid">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('ira')">
          <ion-icon src="assets/svg_emo/ira.svg" style="font-size: 80px; margin-bottom: 8px;"></ion-icon> Ira
        </ion-button>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('alegria')">
          <ion-icon src="assets/svg_emo/alegria.svg" style="font-size: 80px; margin-bottom: 8px;"></ion-icon> Alegría
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('tristeza')">
          <ion-icon src="assets/svg_emo/tristeza.svg" style="font-size: 80px; margin-bottom: 8px;"></ion-icon> Tristeza
        </ion-button>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('miedo')">
          <ion-icon src="assets/svg_emo/miedo.svg" style="font-size: 80px; margin-bottom: 8px;"></ion-icon> Miedo
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('agrado')">
          <ion-icon src="assets/svg_emo/agrado.svg" style="font-size: 80px; margin-bottom: 8px;"></ion-icon> Agrado
        </ion-button>
      </ion-col>
      
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('verguenza')">
          <ion-icon src="assets/svg_emo/verguenza.svg" style="font-size: 80px; margin-bottom: 8px;"></ion-icon> Vergüenza
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('contencion')">
          <ion-icon src="assets/svg_emo/contencion.svg" style="font-size: 80px; margin-bottom: 4px;"></ion-icon> Necesito Contención
        </ion-button>
      </ion-col>
      <ion-col size="6" size-md="2">
        <ion-button expand="block" style="--background: var(--button-emociones);" (click)="onEmotionClick('soledad')">
          <ion-icon src="assets/svg_emo/soledad.svg" style="font-size: 80px; margin-bottom: 4px;"></ion-icon> 
          Quiero estar solo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-tabs style="z-index: 1"></app-tabs>