<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Emociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="emotion-grid">
    <div class="emotion-item ira">Ira</div>
    <div class="emotion-item alegria">Alegría</div>
    <div class="emotion-item tristeza">Tristeza</div>
    <div class="emotion-item miedo">Miedo</div>
  </div>
</ion-content>