ion-content {
  --background: none;
  background: #060c24;
}

p {
  color: white;
}
h1 {
  color: white;
}
.header-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  max-width: 100%; /* Ajusta el ancho máximo para que la imagen sea responsive */
  max-height: 100%; /* Ajusta la altura máxima para que la imagen sea responsive */
}
