<ion-content>
  <app-header backbutton="/login" title="Recuperar cuenta"></app-header>
  
  <div class="header-image-container">
    <img src="assets/logo.png" class="header-image"> <!--//aqui poner el logo de mi app-->
  </div>

  <div class="d-flex-center">
    <form
      [formGroup]="form"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <h1><strong>¿Olvidaste tu contraseña?</strong></h1>
      <p class="ion-text-center">
        Te enviaremos un email para que puedas restablecer tu contraseña
      </p>

      <!--===========Email==========-->

      <app-custom-input
        autoComplete="email"
        icon="person-outline"
        [control]="form.controls.email"
        type="email"
        label="correo"
      ></app-custom-input>

      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">
          El correo es requerido
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">
          ingrese un correo valido
        </div>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        Recuperar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
