.admin {
  font-size: 13px;
}

ion-toolbar {
  display: flex;
  color: white;
  --background: none;
  background: #1534b0;
}

ion-header {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: none;
  background-color: var(--ion-background-color); /* Cambia según el tema */
}