<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--=======back buttom=======-->
      <ion-back-button
        *ngIf="backbutton"
        [defaultHref]="backbutton"
      ></ion-back-button>

      <!--=======dismiss modal=======-->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title slot="start">
      <strong>{{ title }}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
